.app-header {
    height: 70px;
    line-height: 70px;
    width: 100%;
    border-bottom: thin lightgrey solid;
    position: sticky;
    top: 0;
    background-color: #fff; /* Wichtig, damit der Inhalt nicht durchscheint */
}

.app-header .app-header--title {
    font-size: 40px;
    padding-left: 20px;
    color: #7944ff;
}

.app-container {
    max-width: 800px;
    margin: 0 auto;          /* zentriert */
    padding: 0 32px;         /* links & rechts */
    border-radius: 10px;
    background-color: #fff; /* Wichtig, damit der Inhalt nicht durchscheint */
}
.app-container .app-container--title {
    padding-top: 20px;
    font-size: 30px;
    padding-left: 5px;
    color: #7944ff;
}